# Exclude dev files from source archives (e.g., GitHub release ZIPs)
/.github export-ignore
/tests export-ignore
/.vscode export-ignore
/.idea export-ignore
/.phpunit.result.cache export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/examples export-ignore

# Line endings
* text=auto
